@import url('https://fonts.cdnfonts.com/css/game-of-squids');

body {
    background-color: #000000;
    color: #fafaff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    place-content: center;
    overflow-y: auto;
    font-family: 'Game Of Squids', sans-serif;
}
h1,h2,h3,h4,h5,h6,p {
    margin-block: 0.5em;
}
main {
    max-width: 960px;
    margin-inline: auto;
}
input,button {
    padding-inline: 32px;
    padding-block: 16px;
    font-size: 18px;
}
button {
    background: #249f9c;
    color: white;
    border: none;
    border-radius: 8px;
    gap:8px;
}
.row,.col {
    gap: 8px;
    align-items: center;
    display: flex;
}
.col {
    flex-direction: column;    
}

button.squidGame {
    color:black;
    background-color:#ed1b76;
}